.footer-section{
    height: 130px;
    background-color: white;
     padding-top: 1px;
    width: 100rem;
  
}

.content h2{
    text-align: center;
    position: relative;
    right: 100px;
   
    
}
.con{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 100px;
}
